{% import "../components/hovering_buttons.html" as hovering_buttons %}
{% import "../components/create_modal.html" as create_modal %}
{% import "../components/create_from_json_modal.html" as create_from_json_modal %}

{% extends "../base.html" %} 

{% block page_scripts %}
<script>
	window.class_list = {{classes|json|safe}};
</script>
<script src="/static/class_route.js"></script>
{% endblock %}

{% block page_content %}

<!-- hovering buttons -->
{% call hovering_buttons::component("create_class_modal.showModal()","create_class_from_json_modal.showModal()") %}

<!-- create class modal -->
{% call create_modal::component("Class","handleCreateClassFormSubmit()","
	<input type='number' name='name' placeholder='Name' class='input input-bordered w-full max-w-xs' />
") %}

<!-- create class from json modal -->
{% call create_from_json_modal::component("Class","handleCreateClassFromJsonFormSubmit()","[
	{
		\"id\": \"--this-should-be-empty--\",
		\"name\": 0
	},
	{
		\"id\": \"--this-should-be-empty--\",
		\"name\": 1
	}
]") %}

<!-- main page body -->
<main class="w-full flex flex-col items-center mt-[120px] gap-[25px]">
	<h2 class="text-2xl">Classses</h2>
	<div class="overflow-x-auto w-full max-w-[1400px] px-4">
	  	<table class="table table-lg bg-base-200 mb-[150px] w-full">
			<thead>
				<tr class="bg-base-300">
					<th>ID</th>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="class_table_body">
				{% for class in classes %}
				<tr id="{{ class.id }}">
					<td>{{ class.id }}</td>
					<td>{{ class.name }}</td>
					<th>
						<div class="join">
						  <button
							class="btn btn-sm btn-outline btn-secondary join-item"
							onclick="handleEditClass('{{ class.id }}')"
						  >
						  <span class="iconify mdi--edit-outline w-[22px] h-[22px]"></span>
						  </button>
						  <button
							class="btn btn-sm btn-outline btn-accent join-item"
							onclick="handleDeleteClass('{{ class.id }}','{{ class.name }}')"
						  >
						  <span class="iconify mdi--bin-outline w-[22px] h-[22px]"></span>
						  </button>
						</div>
					</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</main>

{% endblock %}
