{% extends "../base.html" %} 

{% block page_scripts %}
<script>
	document.addEventListener("htmx:afterRequest", (event) => {
		if (event.detail.successful && document.getElementById("create_subject_modal")){
			document.getElementById("create_subject_modal").close();
		}
	});
</script>
{% endblock %}

{% block page_content %}

<div class="fixed bottom-0 right-0 flex items-center justify-end p-5">
  <button class="btn btn-primary" onclick="create_subject_modal.showModal()">
    <span class="iconify mdi--plus-circle w-[22px] h-[22px]"></span>
    Create Subject
  </button>
</div>

<dialog id="create_subject_modal" class="modal">
  <div class="modal-box">
	  <form method="dialog">
		  <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
	  </form>
	  <div class="flex flex-col items-center gap-[25px] w-full">
		  <h3 class="text-lg font-bold">Create Subject</h3>
		  <form id="create_subject_form" hx-post="/api/subject" hx-swap="none" class="flex flex-col items-center gap-[12px] w-full">
			  <input type="text" name="name" placeholder="Name" class="input input-bordered w-full max-w-xs" />
		  </form>
		  <button type="submit" form="create_subject_form" class="btn btn-wide btn-primary max-w-[180px]">Create Subject</button>
	  </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<div class="w-full flex flex-col items-center mt-[120px]">
  <h2 class="text-2xl">Subject</h2>
</div>

{% endblock %}
