{% import "../components/hovering_buttons.html" as hovering_buttons %}
{% import "../components/create_modal.html" as create_modal %}
{% import "../components/create_from_json_modal.html" as create_from_json_modal %}

{% extends "../base.html" %} 

{% block page_scripts %}
<script>
	window.class_list = {{classes|json|safe}};
	window.subject_list = {{subjects|json|safe}};
</script>
<script src="/static/subject_route.js"></script>
{% endblock %}

{% block page_content %}

<!-- hovering buttons -->
{% call hovering_buttons::component("create_subject_modal.showModal()","create_subject_from_json_modal.showModal()") %}

<!-- create subject modal -->
{% call create_modal::component("Subject","handleCreateSubjectFormSubmit()","
	<input type='text' name='name' placeholder='Name' class='input input-bordered w-full max-w-xs' />
	<select name='class_name' class='select select-bordered w-full max-w-xs'>
		<option disabled selected value='0'>Class</option>
	</select>
") %}

 <!-- create subject from json modal -->
{% call create_from_json_modal::component("Subject","handleCreateSubjectFromJsonFormSubmit()","[
	{
		\"id\": \"--this-should-be-empty--\",
		\"name\": \"some-name\",
		\"display_name\": \"class_name - name\",
		\"class_name\": 11,
		\"class_id\": \"--this-should-be-empty--\",
		\"created_at\": \"--this-should-be-empty--\",
		\"updated_at\": \"--this-should-be-empty--\"
	},
	{
		\"id\": \"--this-should-be-empty--\",
		\"name\": \"some-name\",
		\"display_name\": \"class_name - name\",
		\"class_name\": 12,
		\"class_id\": \"--this-should-be-empty--\",
		\"created_at\": \"--this-should-be-empty--\",
		\"updated_at\": \"--this-should-be-empty--\"
	}
]") %}

<!-- main page body -->
<main class="w-full flex flex-col items-center mt-[120px] gap-[25px]">
	<h2 class="text-2xl">Subjects</h2>
	<div class="overflow-x-auto w-full max-w-[1400px] px-4">
	  	<table class="table table-lg bg-base-200 mb-[150px] w-full">
			<thead>
				<tr class="bg-base-300">
					<th>ID</th>
					<th>Name</th>
					<th>Class Name</th>
					<th>Created</th>
					<th>Updated</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="subject_table_body">
				{% for subject in subjects %}
				<tr id="{{ subject.id }}">
					<td>{{ subject.id }}</td>
					<td class="max-w-[250px]">{{ subject.name }}</td>
					<td>{{ subject.class_name }}</td>
					<td data-timestamp="{{ subject.created_at }}"></td>
					<td data-timestamp="{{ subject.updated_at }}"></td>
					<th>
						<div class="join">
						  <button
							class="btn btn-sm btn-outline btn-secondary join-item"
							onclick="handleEditSubject('{{ subject.id }}')"
						  >
						  <span class="iconify mdi--edit-outline w-[22px] h-[22px]"></span>
						  </button>
						  <button
							class="btn btn-sm btn-outline btn-accent join-item"
							onclick="handleDeleteSubject('{{ subject.id }}','{{ subject.name }}')"
						  >
						  <span class="iconify mdi--bin-outline w-[22px] h-[22px]"></span>
						  </button>
						</div>
					</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</main>

{% endblock %}
