{% extends "../base.html" %} 

{% block page_scripts %}
<script>
	let tests = [];
	window.isValidUuid = (uuid) => {
		const regex = /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;
		return regex.test(uuid);
	}
	window.onload = () => {
		for (let i = 0; i < localStorage.length; i++) {
			const key = localStorage.key(i);
			if (key.startsWith("raesan_test_id")){
				let key_parts = key.split(":");
				if (window.isValidUuid(key_parts[1]) == true){
					const value = localStorage.getItem(key);
					tests.push(JSON.parse(value));
				}
			}
		}
		const test_list = document.getElementById("test_list");
		tests.forEach((test) => {
			test_list.innerHTML += `
			<div class="join w-full flex items-center justify-center" id="${test.id}">
				<div class="tooltip join-item w-full max-w-[180px]" data-tip="${test.name}">
					<a class="btn btn-active w-full p-2" 
					href="/test/${test.id}" class="link">
						<p class="truncate">
							${test.name}
						</p>
					</a>
				</div>
				<button class="btn btn-accent join-item" onclick='handleDeleteTest("${test.id}")'>
					<span class="iconify mdi--bin-outline w-[22px] h-[22px]"></span>
				</button>
			</div>
			`;
		})
	}
	// handle delete tests from localstorage
	const handleDeleteTest = (test_id) => {
		let curr_test = tests.find((element) => element.id == test_id);
		let choice = confirm(`WARNING! Do you want to delete '${curr_test.name}'`);
		if (choice == true){
			localStorage.removeItem(`raesan_test_id:${test_id}`);
			document.getElementById(test_id).remove();
		}
	}
</script>
{% endblock %}

{% block page_content %}

<div class="fixed bottom-0 right-0 flex items-center justify-end p-5">
	<a class="btn btn-primary" href="/create-test">
		<span class="iconify mdi--plus-circle w-[22px] h-[22px]"></span>
		Create Test
	</a>
</div>

<div class="w-full flex flex-col items-center mt-[120px]">
	<h2 class="text-2xl">Your Tests</h2>
	<div id="test_list"  class="flex flex-col items-center w-full gap-[20px] mt-[30px]">
	</div>
</div>

{% endblock %}
