{% extends "../base.html" %} 

{% block page_scripts %}
<script>
	window.onload = () => {
		const tests = [];
		for (let i = 0; i < localStorage.length; i++) {
			const key = localStorage.key(i);
			const value = localStorage.getItem(key);
			tests.push(JSON.parse(value));
		}
		const test_list = document.getElementById("test_list");
		tests.forEach((test) => {
			test_list.innerHTML += `
				<a href="/test/${test.name}" class="link">
				${test.name}
				</a>
			`;
		})
	}
</script>
{% endblock %}

{% block page_content %}

<div class="fixed bottom-0 right-0 flex items-center justify-end p-5">
	<a class="btn btn-primary" href="/create-test">
		<span class="iconify mdi--plus-circle w-[22px] h-[22px]"></span>
		Create Test
	</a>
</div>

<div class="w-full flex flex-col items-center mt-[120px]">
	<h2 class="text-2xl">Your Tests</h2>
	<div id="test_list"  class="flex flex-col items-center w-full gap-[20px] mt-[30px]">
	</div>
</div>

{% endblock %}
