<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <title>Raesan Database Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="description"
      content="Manage the embedded database for Raesan"
    />
    <script src="/static/loadash.min.js"></script>
    <link rel="stylesheet" href="/static/style.css" />
    <script
      src="https://unpkg.com/franken-ui@2.0.0-internal.27/dist/js/core.iife.js"
      type="module"
    ></script>
    <script
      src="https://unpkg.com/franken-ui@2.0.0-internal.27/dist/js/icon.iife.js"
      type="module"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
      integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"
      integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-background text-foreground">
    <div class="drawer lg:drawer-open">
      <input id="sidebar" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        {% block page_content %}{% endblock %} {% block page_scripts %}{%
        endblock %}
        <label
          for="sidebar"
          class="drawer-button lg:hidden fixed top-[20px] left-[20px]"
        >
          <span class="iconify mdi--hamburger-menu w-[30px] h-[30px]"></span>
        </label>
      </div>
      <div class="drawer-side">
        <label
          for="sidebar"
          aria-label="close sidebar"
          class="drawer-overlay"
        ></label>
        <ul
          class="menu bg-base-200 text-base-content min-h-full w-64 p-4 text-lg"
        >
          <li><a class="link" href="/class">Classes</a></li>
          <li><a class="link" href="/subject">Subjects</a></li>
          <li><a class="link" href="/chapter">Chapters</a></li>
          <li>
            <a class="link" href="/question">Questions</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
