<!doctype html>
<html lang="en" class="dark uk-theme-raesan">
  <head>
    <meta charset="UTF-8" />
    <title>Raesan Database Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="description"
      content="Manage the embedded database for Raesan"
    />
    <script src="/static/loadash.min.js"></script>
    <link rel="stylesheet" href="/static/style.css" />
    <script
      src="https://unpkg.com/franken-ui@2.0.0-internal.27/dist/js/core.iife.js"
      type="module"
    ></script>
    <script
      src="https://unpkg.com/franken-ui@2.0.0-internal.27/dist/js/icon.iife.js"
      type="module"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
      integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"
      integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-background text-foreground">
    {% block page_content %}{% endblock %} {% block page_scripts %}{% endblock
    %}
    <button
      class="uk-btn uk-btn-default uk-btn-icon fixed top-[20px] left-[20px]"
      type="button"
      data-uk-toggle="target: #side-drawer"
    >
      <span class="iconify mdi--hamburger-menu w-[22px] h-[22px]"></span>
    </button>

    <div id="side-drawer" data-uk-offcanvas="overlay: true">
      <div class="uk-offcanvas-bar p-4">
        <button
          class="uk-offcanvas-close absolute right-4 top-4"
          type="button"
          data-uk-close
        ></button>
        <div class="flex flex-col gap-[12px] text-lg mt-[50px]">
          <a class="uk-btn uk-btn-default uk-link-text" href="/class"
            >Classes</a
          >
          <a class="uk-btn uk-btn-default uk-link-text" href="/subject"
            >Subjects</a
          >
          <a class="uk-btn uk-btn-default uk-link-text" href="/chapter"
            >Chapters</a
          >
          <a class="uk-btn uk-btn-default uk-link-text" href="/question"
            >Questions</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
