<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Raesan Database Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="description"
      content="Manage the embedded database for Raesan"
    />
    <script src="/static/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    {% block page_content %}{% endblock %} {% block page_scripts %}{% endblock
    %}
  </body>
</html>
