{% extends "./base.html" %} 
{% block stepper_content %} 
	<li class="step step-primary">Class</li>
	<li class="step">Subjects</li>
	<li class="step">Chapters</li>
	<li class="step">Format</li>
	<li class="step">Finish</li>
{% endblock %}
{% block form_content %} 
	{% for class in class_list %}
		<label class="label cursor-pointer gap-[15px] border border-gray-500 rounded-[6px] px-4 py-3 max-w-[220px] w-full">
			<span class="label-text">Class {{class}}</span>
			<input type="checkbox" class="checkbox" />
		</label>
	{% endfor %}
{% endblock %}
{% block control_content %} 
	<a hx-boost="true" href="/create-test/2" class="btn btn-primary rounded-[6px] max-w-[200px] flex-1">Next</a>
{% endblock %}
