{% extends "./base.html" %} 
{% block stepper_content %} 
	<li class="step step-primary">Class</li>
	<li class="step step-primary">Subjects</li>
	<li class="step step-primary">Chapters</li>
	<li class="step step-primary">Format</li>
	<li class="step step-primary">Finish</li>
{% endblock %}
{% block form_content %} 
{% endblock %}
{% block control_content %} 
	<a hx-boost="true" href="/create-test/4" class="btn btn-secondary rounded-[6px] max-w-[160px] flex-1">Previous</a>
	<a hx-boost="true" href="/test" class="btn btn-primary rounded-[6px] max-w-[160px] flex-1">Create Test</a>
{% endblock %}
