{% extends "../../base.html" %} {% block page_content %}

<div class="flex flex-col items-center mt-[60px] gap-[60px] w-full px-3">
  <ul class="steps max-w-[400px] w-full">
    {% block stepper_content %}{% endblock %}
  </ul>
  <form class="flex flex-col items-center w-full gap-[20px]">
    {% block form_content %}{% endblock %}
  </form>
  <div class="w-full flex items-center justify-evenly max-w-[400px] gap-[15px]">
    {% block control_content %}{% endblock %}
  </div>
</div>

{% endblock %}
